.header-container__logo-word1 {
	color: $accent-color;
	text-decoration: none;
	font-family: Raleway;
	font-size: 24px;
    line-height: 1.1px;
    letter-spacing: 0.03em;

	@media screen and (min-width: 1200px) {
    font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
    }
}

.header-container__logo-word2 {
	color: $black-color;
	text-decoration: none;
	font-family: Raleway;
	font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.03em;

	@media screen and (min-width: 768px) {
        margin-right: 88px;
    }

	@media screen and (min-width: 1200px) {
    font-size: 26px;
	line-height: 1.2;
	letter-spacing: 0.03em;
	margin-right: 93px;
    }

}

.header {
	padding-top: 25px;
	padding-bottom: 25px;
	border-bottom: 1px solid #ECECEC;
}

.header-container__menu {
	display: flex;
}

.site-nav {
	display: none;

	@media screen and (min-width: 768px) {
		display: flex;
	    align-items: center;
	}

	@media screen and (min-width: 1200px) {
		display: flex;
	    align-items: center;
}
}

.header-container {
	display: flex;
	align-items: center;
}

.site-nav__item:not(:last-child) {
	margin-right: 50px;
}

.site-nav__link {
	color: $header-text-color;
	text-decoration: none;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	position: relative;
	transition-property: $accent-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accent-color;
	}
	&:focus {
		color: $accent-color;
	}
}

.site-nav__link_current {
	color: $accent-color;
	text-decoration: none;
	position: relative;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	&::after {
		content: '';
		width: 100%;
		height: 4px;
		background-color: $accent-color;
		border-radius: 2px;
		position: absolute;
		left: 0;
		bottom: -34px;
	}
}

.header-container__connect {
	display: none;

	@media screen and (min-width: 768px) {
		margin-left: auto;
		display: flex;
	}

	@media screen and (min-width: 1200px){
		margin-left: auto;
		display: flex;
}
}

.contact-list {

@media screen and (min-width: 768px) {
	display: none;
}

@media screen and (min-width: 1200px) {
	display: flex;
}
}

.contact-list__item:not(:last-child) {
	margin-right: 50px;
	display: flex;
	align-items: center;
}

.contact-list__link {
	display: block;
	color: $first-text-color;
	text-decoration: none;
	list-style: none;
	font-weight: 500;
	font-size: 12px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
	transition-property: $accent-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accent-color;
	}
	&:focus {
		color: $accent-color;
	}

	@media screen and (min-width: 1200px) {
    font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
    }
}


.contact-list__icon {
	vertical-align: text-top;
	fill: currentColor;
	margin-right: 10px;
	&:hover {
		fill: currentColor;
	}
	&:focus {
		fill: currentColor;
	}
}

.contact-list-tablet {
	@media screen and (min-width: 1200px) {
		display: none;
	}
}

.contact-list-tablet__item:not(:last-child) {
	margin-bottom: 10px;
}

.contact-list-tablet__link {
	color: $first-text-color;
	text-decoration: none;
	list-style: none;
	font-weight: 500;
	font-size: 12px;
    line-height: 1.1px;
    letter-spacing: 0.02em;
	transition-property: $accent-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accent-color;
	}
	&:focus {
		color: $accent-color;
	}
}

.open-menu-btn {
	margin-left: auto;
	align-items: center;
	display: block;
	background-color: $white-color;
	border: none;
	@media screen and (min-width: 768px) {
		display: none;
	}

	@media screen and (min-width: 1200px){
		display: none;
}
}

.open-menu-btn__icon {
	fill: $black-color;
	transition-property: $accent-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		fill: $accent-color;
	}
	&:hover {
		fill: $accent-color;
	}
}

.mob-menu {
	position: fixed;
	width: 96%;
	max-width: 100vw;
	height: 100vh;
	top: 0;
	background-color: $main-background-color;
	z-index: 5;
	padding-top: 21px;
	padding-bottom: 48px;
	padding-left: 40px;
	padding-right: 15px;
}

.close-menu-btn {
	display: block;
	margin-left: auto;
	background-color: $white-color;
	border: none;

}

.close-menu-btn__icon {
	fill: $black-color;
	transition-property: $accent-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:focus {
		fill: $accent-color;
	}
	&:hover {
		fill: $accent-color;
	}
}

.mob-list__item {
	&:not(:last-child) {
		margin-bottom: 32px;
	}
}

.mob-list__link {
	color: $header-text-color;
	text-decoration: none;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: 0.02em;
	position: relative;
	transition-property: $accent-color;
	transition-duration: 250ms;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	&:hover {
		color: $accent-color;
	}
	&:focus {
		color: $accent-color;
	}
}

.mob-list__link_current {
	color: $accent-color;
	text-decoration: none;
	position: relative;
	font-weight: 500;
	font-size: 40px;
	line-height: 1.1;
	letter-spacing: 0.02em;
}

.mob-contact-list__item1 {
	color: $accent-color;
	font-weight: 500;
    font-size: 34px;
    line-height: 1.2;
    letter-spacing: 0.02em;
	margin-bottom: 32px;
}

.mob-contact-list__item2 {
	font-weight: 500;
    font-size: 24px;
    line-height: 1.1;
    letter-spacing: 0.02em;
}

.mob-menu__connect {
	margin-bottom: 64px;
}

.mob-socials-list {
	display: flex;
}

.mob-socials__item {
	&:not(:last-child) {
		margin-right: 20px;
	}
}

.mob-socials__link {
	color: $accent-color;
    text-decoration: none;
	font-size: 18px;
    line-height: 1.2px;
    letter-spacing: 0.02em;
}

.mob-menu__wrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100%;
}