.hero {
	text-align: center;
	padding-top: 200px;
	padding-bottom: 200px;
	height: 600px;
	max-width: 1600px;
	margin-left: auto;
	margin-right: auto;
	background-image: linear-gradient( to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4) ), url('../images/background\ img.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}

.hero__title {
	margin-top: 0px;
	margin-bottom: 30px;
	color: $main-title-color;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.4;
	letter-spacing: 0.06em;
}

.hero__modal-button {
	color: $first-button-color;
	background-color: $accent-color;
	border: 0;
	font-family: inherit;
	display: inline-block;
	font-size: 16px;
	font-weight: bold;
	width: 200px;
	height: 50px;
	padding-top: 10px;
	padding-bottom: 10px;
	justify-content: center;
	border-radius: 4px;
	letter-spacing: 0.06em;
}
